<div class="chat-wrapper">
  <h2 class="chat-title">Amenities Reservation Chat</h2>

  <div class="chat-box" #chatContainer>
    <div *ngFor="let msg of messages" [ngClass]="msg.sender">
  <div class="bubble" [ngClass]="msg.sender">{{ msg.text }}</div>
</div>
  </div>

  <form [formGroup]="chatForm" (ngSubmit)="sendMessage()" class="chat-input-area">
    <input
      type="text"
      formControlName="message"
      placeholder="Please write your message..."
      autocomplete="off"
    />
    <button type="submit" [disabled]="chatForm.invalid">Send</button>
  </form>
</div>
