<div class="container mt-4">
  <h3>Create Maintenance Request</h3>
  <form [formGroup]="requestForm" (ngSubmit)="onSubmit()">
    <div class="mb-3">
      <label for="description" class="form-label">Description</label>
      <input
        type="text"
        id="description"
        class="form-control"
        formControlName="description"
        placeholder="Enter description"
      />
    </div>
    <div class="mb-3">
      <label for="category" class="form-label">Category</label>
      <select id="category" class="form-select" formControlName="category">
        <option value="" disabled>Select category</option>
        <option *ngFor="let option of categoryOptions" [value]="option">{{ option }}</option>
      </select>
    </div>
    <div class="form-group">
    <label for="flatId">Flat ID</label>
    <input
      type="number"
      id="flatId"
      formControlName="flatId"
      class="form-control"
    />
    <div *ngIf="requestForm.get('flatId')?.invalid && requestForm.get('flatId')?.touched" class="text-danger">
      Flat ID is required
    </div>
  </div>
    <button type="submit" class="btn btn-success" [disabled]="requestForm.invalid">
      <i class="bi bi-save"></i> Submit
    </button>
  </form>
</div>
