<div class="container mt-4">
  <div class="d-flex justify-content-between align-items-center mt-4">
    <h3>Apartment List</h3>
    <a routerLink="/admin/apartment/create" class="btn btn-success">
      <i class="bi bi-plus-lg"></i> Add Apartment
    </a>
  </div>
  <table class="table table-bordered table-hover mt-3">
    <thead class="table-dark">
    <tr>
      <th>ID</th>
      <th>Building Name</th>
      <th>Unit Number</th>
      <th>Floor</th>
      <th>Action</th>
    </tr>
    </thead>
    <tbody>
    <tr *ngFor="let apartment of apartments">
      <td>{{ apartment.id }}</td>
      <td>{{ apartment.buildingName }}</td>
      <td>{{ apartment.unitNumber }}</td>
      <td>{{ apartment.floor }}</td>
      <td>
        <button class="btn btn-primary btn-sm"
                (click)="viewDetails(apartment.id)">
          View
        </button>
        <button class="btn btn-danger btn-sm"
                (click)="deleteApartment(apartment.id)">
          Delete
        </button>
        <button class="btn btn-secondary btn-sm"
                (click)="viewDues(apartment.id)">
          Dues
        </button>
      </td>
    </tr>
    </tbody>
  </table>
</div>
